:root {
    --color-white: #fff;
    
}

@font-face {
    font-family: "Arial";
    font-weight: 400;
    src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
}
@font-face {
    font-family: "Georgia";
    font-weight: 400;
    src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    /*max-width: 1280px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    
    
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 auto;
   
}

@media (max-width:1279px) {
    .wrapper {
        overflow: hidden;
        
    }

}

.header__container{
    margin: 0 auto;
    padding: 0;
    width:  calc(100% - 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-bottom: 30px;
    
}


.header-logo {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 50%;
    padding-left: 39px;
}
    
.logo_link {
    text-decoration: none;
}


.logo-title {
    
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-bottom: 9px;
    border: 0;
 
}

.logo-subtitle {
    display: flex;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    padding-left: 3px;

    
}


.nav-menu {
position: sticky;
top: 0;
left: 10px;
z-index: 40;
width: 433px;
padding-top: 30px;
margin-right: 37px;



}

.nav-item {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    list-style-type: none;
    padding: 0 0px;
    gap: 30px;
    margin: 0 auto;
    
}

.nav-links {
    
    display: inline-block;
    width: auto;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 5px 0px;

    
}

.nav-link {
    text-decoration: none;
    color:#545454;
}

.nav-link:hover {
    cursor: pointer;
    color: #292929;
    transition: 0.5s;
}
.active {
    color:#292929;
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
    padding-bottom: 3px;
    transition: 0.3s;
}

.nav-link:active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
    padding-bottom: 3px;
    transition: 0.3s;
}

@media (max-width: 1279px) {
    
    .header__container{
        width:  calc(100% - 60);
        margin-top: -20px;
        
    }
    
}

/*main styles start*/

main {
  background: #F6F6F6;
  margin-top: 25px;
  
}

.our_friends {
    background: #F6F6F6;
}

.friends_title {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 60px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: -15px;
    padding-right: 10px;
    row-gap: 30px;
    

}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 435px;
    width: 270px;
    left: 0px;
    top: 15px;
    border-radius: 9px;
    background: #FAFAFA;
    border: none;

}

.card:hover {
    cursor: pointer;
    border: none;
    background: #F6F6F6;
    border: 1px solid #f0ebe7;
    box-shadow: 1px 1px 2px 2px #f0ebe7;;
    transition: 0.9s;
}

.card:hover .learn_more_btn {
    background: #FDDCC4;
    
}


.card:hover img {
    border: none;
}

.img_wrapper {
    position: relative;
    height: 270px;
    width: 270px;
    left: 0px;
    top: 0px;
    border-radius: 9px;


}



.photo {
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    float: left;
    border-radius: 9px;
    overflow: hidden;
}

.photo_sophi {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.pet_info {
    display: flex;
    flex-direction: column;
}

.title_pet {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    

}

.learn_more_btn {
    background-color: transparent;
    border-radius: 100px;
    border: 0;
    outline: none;
    height: 52px;
    width: 187px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    margin-bottom: 30px;
    margin-left: 40px;
}

.learn_more_btn:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: 1px solid #F1CDB3;
    box-shadow: 1px 1px 2px 2px #F1CDB3;
    transition: 0.8s;
}

.learn_more_btn_title {
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;

}

.buttons_slider {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
    height: 52px;
    width: 340px;
    
    padding-left: 465px;
    padding-top: 10px;
    margin-bottom: 112px;
}

.btn_slider {
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    outline: none;
    height: 52px;
    width: 52px;
    left: 430px;
    top: 1110px;
    border-radius: 0px;
    

    
}

.btn_link {
    text-decoration: none;
    text-align: center;
}

.inactive_1 {
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid  #CDCDCD;
    outline: none;
    height: 52px;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.inactive_2 {
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid  #CDCDCD;
    outline: none;
    height: 52px;
    width: 80px;
    padding-left: 17px;
    padding-right: 17px;
}

.inactive_link {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #CDCDCD;


}

.active_btn {
    background-color: #F1CDB3;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    outline: none;
    height: 52px;
    width: 52px;
    padding-left: 19px;
    padding-right: 19px;
}

/*.active_btn:hover *//*{
    cursor: pointer;
    background: #FDDCC4;
    border: 1px solid #F1CDB3;
    box-shadow: 1px 1px 2px 2px #F1CDB3;
    transition: 0.8s;
    
}*/


.active_link {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;


}

.next_btn_1 {
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    outline: none;
    height: 52px;
    width: 52px;
    padding-left: 17px;
    padding-right: 17px;
}

.next_btn_1:hover {
    cursor: pointer;
    border: 1px solid #F1CDB3;
    background: #FDDCC4;
    box-shadow: 1px 1px 2px 2px #F1CDB3;
    transition: 0.8s;
}

.next_btn_2 {
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    outline: none;
    height: 52px;
    width: 52px;
    padding-left: 10px;
    padding-right: 10px;
}

.next_btn_2:hover {
    cursor: pointer;
    border: 1px solid #F1CDB3;
    background: #FDDCC4;
    box-shadow: 1px 1px 2px 2px #F1CDB3;
    transition: 0.8s;
}

.next_link {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;


}

@media (max-width: 1279px) {
    .friends_title {
        text-align: center;
        margin-bottom: 30px;
      
      }
      
      .cards {
        min-height: 1365px;
        width: 580px;
        margin: 0 auto;
        margin-bottom: 70px;
        gap: 30px;
     
    }
      

    .buttons_slider {
       
       margin-left: auto;
       margin-right: auto;
       padding-left: unset;
    }
     
}

.footer {
    background-image: linear-gradient(to left,#211F20,#262425, #5B483A);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100% - 80px);
    margin-top: 40px;
   
}


.footer__contacts {
    display: flex;
    flex-direction: row;
    gap: 95px;
}

.footer_contacts {
    padding-right: 70px;
    margin-top: -30px;
 
 }


.contacts {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
    gap: 30px;
}


.footer_title_first {
    width: 280px;
    


}

.footer_title_second {
    width: 270px;
    
}

.footer_mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
    padding-top: -5px;
}

.footer_number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
    padding-top: 10px;
}

.footer_address {
    margin-top: -30px;
    padding-right: 13px;
    
}

.first_address{
    width: 302px;
    text-align: justify;
}

.second_address {
    width: 302px;
}

.footer_image {
    padding-left: 90px;
}

.footer_title {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;


}

.contacts_styles {
    text-decoration: none;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
}

.addresses {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
}

.first_address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
    margin-bottom: 30px;
}

.second_address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;

}

@media (max-width: 1279px) {
    .footer_section {
        flex-direction: column;
        margin: 0 auto;
        width: calc(100%- 60px);
    }
    
    .footer__contacts {
       justify-content: space-evently;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       
       margin-bottom: 65px;
       gap: 60px;
    }
    
    .footer_contacts {
        padding-right: unset;
    }

    .footer_title_first {
        text-align: left;
    }
    
    .footer_address {
        padding-right: unset;
    }

    .footer_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: unset;
    }
    
}


