
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
    padding: 30px 0 0 0;

    @include media-tablet {
        align-items: center;
        flex-wrap: nowrap;
    }
}






