@font-face {
    font-family: "Arial";
    font-weight: 400;
    src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
}
@font-face {
    font-family: "Georgia";
    font-weight: 400;
    src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
}