%burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
}

.header_burger  {
    display: none;
    width: 30px;
    height: 22px;
    @extend %cursor;
    position: relative;
    
    &::before {
        @extend %burger-line;
        content: "";
        top: 0;
        left: 0;
    }

    &::after {
        @extend %burger-line;
        content: "";
        bottom: 0;
        left: 0;
    }

    @include media-tablet {
        display: block;
    }


}


.burger_line_first {
    @extend %burger-line;
    top: 45%;
    left: 0;
}


.header_nav_close {
    display: none;
    width: 30px;
    height: 22px;
    @extend %cursor;
    position: relative;

    &::before {
        @extend %burger-line;
        content: "";
        top: 0;
        left: 0;
    }

    &::after {
        @extend %burger-line;
        content: "";
        bottom: 0;
        left: 0;
    }


    @include media-tablet {
        display: block;
        z-index: 11;
        top: 7%;
        right: 15%;
        position: absolute;
        transform: translateY(50%) rotate(90deg);
    }
}

.header_nav_close_line{
    @extend %burger-line;
    top: 45%;
    left: 0;


}