.header__nav {
  margin: 0 0 0 571px;
  padding: 8px 0 0 0;

  @include media-laptop {
    margin: 0 0 0 77px;
    padding: 4px 0 0 0;
  }

  @include media-tablet {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-title;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
}

.header__nav_active {
    transform: translateX(0);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 34px;

  @include media-tablet {
    flex-direction: column;
    padding: 130px 0 0 0;
    gap: 40px;
  }
}

.nav-item {
  @extend %font-add;
  @include font-text;

  @include media-tablet {
    font-family: 'Arial';
    @include font(32px, normal, 400px, 51px);
  }
}

.nav-link {
  color: $color-link;
  @extend %cursor;
  @extend %transition;

  &:hover {
    color: $color-link-active;
  }

  &:active {
    color: $color-link-active;
    border-bottom: 2px solid #f1cdb3;
    padding-bottom: 3px;
  }
}

.nav-link_active {
  color: $color-link-active;
  border-bottom: 2px solid #f1cdb3;
  padding-bottom: 3px;
}
