$color-background:#FFFFFF;
$color-light:  #F6F6F6;
$color-primary:#F1CDB3;
$color-primary-hover: #FDDCC4;
$color-link: #CDCDCD;
$color-link-active: #FAFAFA;
$color-text: #292929;
$color-title: #545454;





$content-width: 1200px;