@mixin font ($size, $style, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}

@mixin font-text ($size: 15px, $style: normal, $weight: 400, $height: 24px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}

@mixin columns ($width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >* {
        flex-basis: $width;
    }
}


@mixin media-laptop {
    @media (max-width: $laptop-width) { @content; }
 }
 
 @mixin media-content {
     @media (max-width: $content-width) { @content; }
  }
 
  @mixin media-tablet {
     @media (max-width: $tablet-width) { @content; }
  }
 
  @mixin media-mobile {
     @media (max-width: $mobile-width) { @content; }
  }
 