%transition {
    transition: all 0.3s ease-in-out;

}

%cursor {
    cursor: pointer;
}

%font-add {
    font-family: Arial, Helvetica, sans-serif;
}

%background-add {
    background: $color-light;
}