.about {
    padding: 73px 0 100px 0;
    background: $color-background;

    @include media-laptop {
        padding: 66px 0 100px 0;
    }

    @include media-tablet {
        padding: 31px 0 0 0;
    }
}
 
 .about-content{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 120px;
     padding: 0 0 0 20px;

     @include media-laptop {
        flex-direction: column-reverse;
        padding: 0 0 0 10px;
        gap: 80px;
     }

     @include media-tablet {
        gap: 40px;
     }


}
 
 .about-image {
     height: 398px;
     width: 300px;

     @include media-tablet {
        margin: 0 0 0 20px;
     }
}


.about-pic {
    @include media-tablet {
        width: 260px;
        height: 353.6px;
     }
}
 
 .about-info {
   display: flex;
   flex-direction: column;
   max-width: 430px;
   
   
}

.about-title {
    margin: 10px 0 25px 0;
    color: $color-title;

    @include media-tablet {
        margin: 10px 10px 25px 0;
        text-align: center;
    }
}
 
.about-text {
    @extend %font-add;
    @include font-text();
    color: $color-text;
    
    @include media-tablet {
        width: 270px;
        text-align: justify;
       margin: 0 10px 0 0;
    }
}
 
.text-add{
     margin: 25px 0 0 0;

     @include media-tablet {
        margin: 22px 0 0 0;
     }
 }
 
