.pets {
    background: $color-light;
    display: flex;
    flex-direction: column;
    padding: 85px 0 100px 10px;

    @include media-laptop {
        padding: 77px 0 100px 10px;
    }

    @include media-tablet {
        padding: 40px 0 0 0;
    }
    
}

.pets-title{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: $color-title;

    @include media-laptop {
        margin: 0  0 0 163px;
    }
    
    @include media-tablet {
        margin: 0;
    }
}


